Supabase_3.json
{
  "name": "Supabase_3",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ml7cLTD2Se3sWM3IqUmumaxvfcHbHHrJB3cGH_ozzPc",
          "mode": "list",
          "cachedResultName": "royhan",
          "cachedResultUrl": "https://docs.google.com/document/d/1ml7cLTD2Se3sWM3IqUmumaxvfcHbHHrJB3cGH_ozzPc/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        -16
      ],
      "id": "0754e47f-0b2d-4e77-a59f-bb35fc9619ee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Al5gV0Eq0ujQ0Lrn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "data_final",
          "mode": "list",
          "cachedResultName": "data_final"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        -16
      ],
      "id": "11126b3e-0d39-4499-b905-a0cd07170120",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "TGrF3iSQZxG1crwm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        176
      ],
      "id": "0b297f11-bc0c-4fea-abfc-c3c265a6076b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi ! Butuh bantuan untuk penulisan karya ilmiah?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        288
      ],
      "id": "09e378b0-b1fa-4328-b1d8-96ec6ad000ae",
      "name": "When chat message received",
      "webhookId": "021e980c-eef9-4ab5-9393-5aff4dfd0420"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message || \"halo\" }}",
        "options": {
          "systemMessage": "Kamu asisten penulisan ilmiah tugas akhir atau skripsi.\nKamu dapat menjawab dengan mengacu informasi yang tersedia di data vektor pada Tool \"Supabase Vector Store.\"\nJika informasi tidak tersedia di Tool itu, jawablah \"Mohon maaf, saya belum dapat memberikan jawaban\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        288
      ],
      "id": "cc0c9485-1dd6-4d1c-9122-bb40f170766f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $json.chatId || \"default-session\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        288,
        560
      ],
      "id": "6da39575-46f3-4665-a63e-c181daf9d2c9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CsRGjWdmwFBpEC38",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan tentang penulisan ilmiah mahasiswa STT-NF",
        "tableName": {
          "__rl": true,
          "value": "data_final",
          "mode": "list",
          "cachedResultName": "data_final"
        },
        "options": {
          "queryName": "match_data_final"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        528
      ],
      "id": "2c26e7e3-9a71-4d86-ad6c-58e3a8b542e1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "TGrF3iSQZxG1crwm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        544,
        192
      ],
      "id": "48b3c30b-7db7-4aa7-a549-f9d8c8609c17",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "wHVmx9r2BYUjHd4q",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        400
      ],
      "id": "55540880-8296-4b15-96e2-70360ad0ded6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        608
      ],
      "id": "ab14e74f-1b57-4642-be19-9ea473882eff",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "E6e3Ur9LO5E4K7EF",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dEnRdZ5qfhHv_kHHk34mdQEZ4EHsynCs",
          "mode": "list",
          "cachedResultName": "RAG-supabase-1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dEnRdZ5qfhHv_kHHk34mdQEZ4EHsynCs"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -16
      ],
      "id": "655598fa-e426-4b0a-aac6-7adc726812f6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Al5gV0Eq0ujQ0Lrn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -16
      ],
      "id": "26ccc478-ad57-4354-b32b-c42121346ff6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -16
      ],
      "id": "87ad343c-ef86-4e31-aafc-468136ffb0b9",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "09def597-6d6d-475f-8ace-932c373db575",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b034538410f2eec92bdf7a606ce4680aa6d61de897b91dde6a781f8ae255aa4"
  },
  "id": "yO53v9lyFNRRm8Jo",
  "tags": []
}